@import "tailwindcss";

@theme   {
  --color-primary: #0d1b2a;
  --color-secendary: #415a77;
  --color-white: #ffffff;
  --color-black: #000000;
  --font-anek: "Anek Bangla", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@layer base {

  .slick-slide{
  padding: 0 24px;

  
  }


}
